<div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <img src="https://i.ytimg.com/vi/9q3_8N4YZRI/maxresdefault.jpg" class="image-sidebar">
      </li>
      <div class="space"></div>
      <li class="nav-item active">
        <p class="word-sidebar">Name:<br><%= adminNav.name%></p>
      </li>
      <br>
      <li class="nav-item active">
        <p class="word-sidebar" style="word-break:break-all">Chapter:<br><%= adminNav.chapter%></p>
      </li>
    </ul>
  </div>
</div>
