<div class="sidebar-wrapper">
    <ul class="nav">
      <li class="nav-item active  ">
        <img src="../images/1.png" class="image-sidebar">
      </li>
      <div class="space"></div>
      <li class="nav-item active">
        <p class="word-sidebar"><b>Name:</b><br><%= adminNav.name%></p>
      </li>
      <br>
      <li class="nav-item active">
        <p class="word-sidebar" style="word-break:break-all"><b>Position:</b><br><%= adminNav.position%></p>
      </li>
    </ul>
  </div>
</div>