<div id="topbar" class="d-none d-lg-flex align-items-center fixed-top">
  <div class="container d-flex">
    <div class="contact-info mr-auto">
      <i class="icofont-envelope"></i> <a href="mailto:contact@example.com">ceburcy@gmail.com</a>
      <i class="icofont-phone"></i> +1 5589 55488 55
    </div>
    <div class="social-links">
      <a href="#" class="twitter"><i class="icofont-twitter"></i></a>
      <a href="https://www.facebook.com/ceburcy" class="facebook"><i class="icofont-facebook"></i></a>
      <a href="#" class="instagram"><i class="icofont-instagram"></i></a>
    </div>
  </div>
</div>

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
  <div class="container d-flex align-items-center">
    <a href="/" class="logo mr-auto"><p><img src="/images/1.png" alt="logo"><%= nav.name%> <%= nav.category%></p></a>
    <nav class="nav-menu d-none d-lg-block">
      <ul>    
        <li><a href="/">Home</a></li>
        <li><a href="/#about">About</a></li>
        <!--<li><a href="/#team">Team</a></li>-->
        <li><a href="/#contact">Contact</a></li>
        <li class="drop-down"><a href="#">Document</a>
          <ul>
            <li><a href="/docs">Forms</a></li>
            <li><a href="/viewDocs">View Forms</a></li>
          </ul>
        </li>
        <li class="drop-down"><a href="#">Profile</a>
          <ul>
            <li><a href="/#">Edit Profile</a></li>
            <li><a href="/logout">Logout</a></li>
          </ul>
        </li>
      </ul>
    </nav><!-- .nav-menu -->
  </div>
</header><!-- End Header -->