<%-include ('partials/header.ejs')%>
<%-include ('partials/navbar.ejs')%>
    <div class="docs">
        <div class="container" data-aos="zoom-out" data-aos-delay="100">
            <h1>Documents</h1>

                <section id="team2">
                    <div class="container" data-aos="fade-up">
                      <div class="row team section-bg2">
                        <div class="row ">
                        <!--<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                          <div class="member">
                            <div class="member-img">
                              <img src="/images/1.png" class="team-img img-fluid" alt="">
                            </div>
                            <div class="member-info">
                              <h4>Membership Forms</h4>
                              <a href="membershipForm" class="btn btn-danger">Make Form</a>
                            </div>
                          </div>
                        </div>-->
                            
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                          <div class="member">
                            <div class="member-img">
                              <img src="/images/1.png" class="team-img img-fluid" alt="">
                            </div>
                            <div class="member-info">
                              <h4>Council Monthly Reports</h4>
                              <a href="/councilMonthlyReportForm" class="btn btn-danger">Make Form</a>
                            </div>
                          </div>
                        </div>

                        <!--<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                          <div class="member">
                            <div class="member-img">
                              <img src="/images/1.png" class="team-img img-fluid" alt="">
                            </div>
                            <div class="member-info">
                              <h4>Uniform Request Forms</h4>
                              <a href="unifRequest" class="btn btn-danger">Make Form</a>
                            </div>
                          </div>
                        </div>-->

                        <!--<div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                          <div class="member">
                            <div class="member-img">
                              <img src="/images/1.png" class="team-img img-fluid" alt="">
                            </div>
                            <div class="member-info">
                              <h4>Committee Membership Forms</h4>
                              <a href="committeeMembershipForm" class="btn btn-danger">Make Form</a>
                            </div>
                          </div>
                        </div>-->

                    </div>

                     <div class="container" data-aos="fade-up" >  
                      <!--<div class="row team section-bg2">
                        <div class="row ">                        
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                          <div class="member">
                            <div class="member-img">
                              <img src="/images/1.png" class="team-img img-fluid" alt="">
                            </div>
                            <div class="member-info">
                              <h4>Activity Request Forms</h4>
                              <a href="activityRequestForm" class="btn btn-danger">Make Form</a>
                            </div>
                          </div>
                        </div>
              
                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                          <div class="member">
                            <div class="member-img">
                              <img src="/images/1.png" class="team-img img-fluid" alt="">
                              <div class="social">
                            </div>
                            <div class="member-info">
                              <h4>Activity Report Forms</h4>
                              <a href="activityReportForm" class="btn btn-danger">Make Form</a>
                            </div>
                          </div>
                        </div>
                      </div>

                        <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                          <div class="member">
                            <div class="member-img">
                              <img src="/images/1.png" class="team-img img-fluid" alt="">
                            </div>
                            <div class="member-info">
                              <h4>Service Request Forms</h4>
                              <a href="serviceReq" class="btn btn-danger">Make Form</a>                            
                            </div>
                          </div>
                        </div>-->                    
                      </div>  
                    </div>
                  </section>                  
                </div>
    </div>  
</section>
<%-include ('partials/footer.ejs')%>