<%-include ('partials/header.ejs')%>  
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
          <div class="col-md-8 col-sm-8 col-xs-12">
            <h1>ERROR! 500:Internal Server Error!<p><span>An error occured, please report this error with an e-mail to derekyu565@gmail.com</span></p></h1>
            <h2><p>Sorry for that</p></h2>
            <a href="/" class = "btn btn-danger">Go back!</a>
          </div>
		<div class="ml-auto col-md-4 col-sm-4 col-xs-12 text-white">
		</div>
      </div>
    </div><br>
  </section>
  <%-include ('partials/footer.ejs')%>