<%-include ('partials/header.ejs')%>
<%-include ('partials/navbar.ejs')%>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>
        <p>Welcome to the</p>
        <span>Red Cross Youth Document Management System!</spa>
      </h1>
      <h2>Siamo Tutti Fratelli!</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>
        <a href="https://www.youtube.com/watch?v=HwpzzAefx9M" class="venobox btn-watch-video" data-vbtype="video" data-autoplay="true"> Watch Video <i class="icofont-play-alt-2"></i></a>
      </div>
    </div>
  </section><!-- End Hero --> 

      <!-- ======= About Section ======= -->
      <section id="about" class="about section-bg">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>About</h2>
            <h3>The <span>Red Cross Youth</span></h3>
            <p>As a service</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="100">
              <img src="/images/1.png" class="img-fluid" alt="Image failed to load">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="100">
              <h3>The Red Cross Youth</h3>
              <p class="font-italic">
                  The Red Cross Youth is one of six major services provided by the Philippine Red Cross. The Red Cross Youth Promotes volunteerism and inspires the youth through voluntary service and aleviating human suffering!
              </p>              
              <p class="font-italic">
                <h5>The Red Cross Youth Pledge</h5>
                As a youth member of the Premier Humanitarian Organization; I pledge to alleviate human suffering; to protect life and dignitiy; to be a responsible citizen of the Republic of the Philippines, to conform with the objectives and policies of the Philippine Red Cross; its seven fundamental principles Humanity, Impartiality, Neutrality, Independence, Voluntary Service, Unity, Universality and to be at all times be in service for the suffering humanity.
              </p>
            </div>
          </div>
  
        </div>
      </section>

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">
  
          <div class="section-title">
            <h2>Contact</h2>
            <h3><span>Contact Us</span></h3>
            <p>Below are the contact information of the Chapter and the Chapter's address!</p>
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-6">
              <div class="info-box mb-4">
                <i class="bx bx-map"></i>
                <h3>Our Address</h3>
                <p>Osmeña Blvd, Cebu City, Cebu, Philippines</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">                
                <i class="bx bx-envelope"></i>
                <h3>Email Us</h3>
                <p>ceburcy@gmail.com</p>
              </div>
            </div>
  
            <div class="col-lg-3 col-md-6">
              <div class="info-box  mb-4">
                <i class="bx bx-phone-call"></i>
                <h3>Call Us</h3>
                <p>+1 5589 55488 55</p>
              </div>
            </div>
  
          </div>
  
          <div class="row" data-aos="fade-up" data-aos-delay="100">  
            <div class="col-lg-12 ">
              <iframe class="mb-4 mb-lg-0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3925.475042867716!2d123.89316151474478!3d10.303814792643244!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x33a99be26aa67d65%3A0x560e4a6461d9d7b8!2sOsme%C3%B1a%20Blvd%2C%20Cebu%20City%2C%20Cebu!5e0!3m2!1sen!2sph!4v1607084016512!5m2!1sen!2sph" frameborder="0" style="border:0; width: 100%; height: 384px;" allowfullscreen></iframe>
            </div>
          </div>
        </div>
      </section><!-- End Contact Section -->  
<%-include ('partials/footer.ejs')%>  
