<p>
	lmao poggers
</p>

<%for(var i=0;i<results.length; i++){%>
	<p>=================================================</p>
	<b><p>Name:"<%=results[i].name%>"</p></b>
	<%for(var x=0;x<results[i].documents.length; x++){%>
		<p>id:<%=results[i].documents[x]['id']%> type:<%=results[i].documents[x]['type']%></p>
	<%}%>
<%}%>
<p>=================================================</p>