<%-include ("partials/header.ejs") %> 
<%-include ("partials/formsNav.ejs") %> 
<!-- ======= Breadcrumbs ======= -->
<section class="breadcrumbs">
    <div class="container">
      <div class="d-flex justify-content-between align-items-center">        
        <ol>
          <li><a href="index.html">Back To Activity Page</a></li>
          <li>Adding Report</li>
        </ol>
      </div>
    </div>
  </section>
<!-- End Breadcrumbs -->
  <section class="inner-page">
    <div class="container">
      <div class="row">
        <div class="col-md-8 order-md-1">
        <form class="needs-validation" novalidate="" action="/act/add" method="post">
        <h4>Uniform Claim Slip</h4>        
          <div class="row mb-3 mt-5">
            
            <div class="col-md-3">
              <div class="mt-4 text-center">
                <h5 name="councilPres" id="councilPres"></h5>
                <hr class="my-1">
                <p>Date</p>
              </div>
            </div>

              <div class="col-md-4">
                <div class="mt-4 text-center">
                  <h5 name="councilAdv" id="councilAdv"></h5>
                  <hr class="my-1">
                  <p>Official Receipt</p>
                </div>
              </div>

              <div class="col-md-2">
                <div class="mt-4 text-center">
                  <h5 name="councilAdv" id="councilAdv"></h5>
                  <hr class="my-1">
                  <p>Quantity</p>
                </div>
              </div>

            </div>

          <div class="row mb-3 mt-5">
            <div class="col-md-4">
              <div class="mt-4 text-center">
                <h5 name="councilPres" id="councilPres"></h5>
                <hr class="my-1">
                <p>Claimed On</p>
              </div>
              
            </div>
            <div class="col-md-4">
              <div class="mt-4 text-center">
                <h5 name="councilAdv" id="councilAdv"></h5>
                <hr class="my-1">
                <p>Released By</p>
              </div>
            </div>           
          </div> 
          
          <hr class="mb-4">        
          <button type='submit' class="btn btn-danger btn-lg btn-block text-white">Post</button>        
        </form>
          <a href="activities.php">Back</a>
        </div>
      </div>
    </div>
  </section>
<%-include ('partials/footer.ejs')%>